<div class="container">
  <div class="row">
    <div class="col-sm-12 pt-5 d-inline-flex bd-highlight">
      <h5 class="bg-secondary">管理者ログイン</h5>
    </div>
  </div>
  
  <div>
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="row my-3">
        <%= f.label :メールアドレス, class: "col-sm-3 col-form-label" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-3" %>
      </div>
    
      <div class="row my-3">
        <%= f.label :パスワード, class: "col-sm-3 col-form-label" %><br>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-3" %>
      </div>
    
      <div class="row my-3">
        <div class="col-6 mx-auto">
          <%= f.submit "ログイン", class: "btn btn-primary col-sm-3" %>
        </div>
      </div>
    <% end %>
  
    <%= render "admin/shared/links" %>
  </div>
</div>
