<div class="container">
  <div class="row">
    <div class="col-sm-12 pt-5 d-inline-flex bd-highlight">
      <h4 class="bg-secondary">新規会員登録</h4>
    </div>
  </div>
  <div>
    <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      
      <div class="row my-3">
        <%= f.label :名前, class: "col-sm-3 col-form-label" %>
        (姓)<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "col-sm-3" %>
        (名)<%= f.text_field :first_name, autocomplete: "first_name", class: "col-sm-3" %>
      </div>
        
      <div class="row my-3">
        <%= f.label :フリガナ, class: "col-sm-3 col-form-label" %>
        (ｾｲ)<%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "col-sm-3" %>
        (ﾒｲ)<%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "col-sm-3" %>
      </div>
        
      <div class="row my-3">
        <%= f.label :メールアドレス, class: "col-sm-3 col-form-label" %>
        <%= f.email_field :email, autocomplete: "email", class: "col-sm-6" %>
      </div>
        
      <div class="row my-3">
        <%= f.label :郵便番号（ハイフンなし）, class: "col-sm-3 col-form-label" %>
        <%= f.text_field :postal_code, autocomplete: "postal_code", class: "col-sm-6" %>
      </div>
        
      <div class="row my-3">
        <%= f.label :住所, class: "col-sm-3 col-form-label" %>
        <%= f.text_field :address, autocomplete: "address", class: "col-sm-6" %>
      </div>
        
      <div class="row my-3">
        <%= f.label :電話番号（ハイフンなし）, class: "col-sm-3 col-form-label" %>
        <%= f.text_field :telephone_number, autocomplete: "telephone_number", class: "col-sm-6" %>
      </div>
      
      <div class="row my-3">
        <div class="col-sm-3 col-form-label">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-6" %>
      </div>
      
      <div class="row my-3">
        <%= f.label :パスワード（確認用）, class: "col-sm-3 col-form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-6" %>
      </div>
      
      <div class="row my-3">
        <%= f.submit "新規登録", class: "btn btn-success col-sm-3 mx-auto" %>
      </div>
    <% end %>
      
    <div class="row">
      <div class="col-sm-12 d-inline-flex bd-highlight pt-3">
        <h4 class="bg-secondary">既に登録済みの方</h4>
      </div>
      <div class="col-4 text-right">
        <h5><%= render "public/shared/links" %></h5>
      </div>
    </div>
  </div>
</div>