<div class="container">
  <div class="row">
    <div class="col-sm-12 pt-5 d-inline-flex bd-highlight">
      <h4 class="bg-secondary">ログイン</h4>
    </div>
    <div>
      <h5 class="bg-secondary my-3">会員の方はこちらからログイン</h5>
    </div>
  </div>
  
  <div>
    <%= form_with model: @customer, url: customer_session_path do |f| %>
    
      <div class="row my-3">
        <%= f.label :メールアドレス, class: "col-sm-3 col-form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-3" %>
      </div>
    
      <div class="row my-3">
        <%= f.label :パスワード, class: "col-sm-3 col-form-label" %><br>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-3" %>
      </div>
    
      <div class="row my-4">
        <div class="col-6 mx-auto">
          <%= f.submit "ログイン", class: "btn btn-primary col-sm-3" %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="d-inline-flex bd-highlight">
      <h5 class="bg-secondary my-3">会員登録がお済みでない方</h5>
    </div>
    <div class="col-sm-12">
      <h5 class="col-sm-9 mx-auto"><%= render "public/shared/links" %></h5>
    </div>
  </div>
</div>
